{% extends "base.html.twig" %}

{% block title %}New Contact{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div  class="col-12">
				<h2 class="page-header">Create Contact</h2>
                <a href="/" class="btn btn-success">Go to contact list</a>
			</div>
		</div>

		{{ form_start(form) }}
		<div class="row mt-3">
			<div class="col-6 mt-2">
				{{ form_label(form.firstname) }}
				{{ form_widget(form.firstname, {'attr': {'class': 'form-control'}}) }}
			</div>
			<div class="col-6 mt-2">
				{{ form_label(form.lastname) }}
				{{ form_widget(form.lastname, {'attr': {'class': 'form-control'}}) }}
			</div>
			<div class="col-6 mt-2">
				{{ form_label(form.streetAndNumber) }}
				{{ form_widget(form.streetAndNumber, {'attr': {'class': 'form-control'}}) }}
			</div>
			<div class="col-6 mt-2">
				{{ form_label(form.zip) }}
				{{ form_widget(form.zip, {'attr': {'class': 'form-control'}}) }}
			</div>
			<div class="col-6 mt-2">
				{{ form_label(form.city) }}
				{{ form_widget(form.city, {'attr': {'class': 'form-control'}}) }}
			</div>
			<div class="col-6 mt-2">
				{{ form_label(form.country) }}
				{{ form_widget(form.country, {'attr': {'class': 'form-control'}}) }}
			</div>
			<div class="col-12 mt-2">
				{{ form_label(form.birthday) }}
				{{ form_widget(form.birthday) }}
			</div>
			<div class="col-6 mt-2">
				{{ form_label(form.phonenumber) }}
				{{ form_widget(form.phonenumber, {'attr': {'class': 'form-control'}}) }}
			</div>
			<div class="col-6 mt-2">
				{{ form_label(form.email) }}
				{{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
			</div>
			<div class="col-12 mt-2">
				{{ form_label(form.picture) }}
				{{ form_widget(form.picture, {'attr': {'style': 'margin-bottom:1rem; display: block;'}}) }}
			</div>
		</div>
	    {{ form_end(form) }}
	    
    </div>
{% endblock %}