{% extends "base.html.twig" %}

{% block title %}Contact Details{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="page-header">Contact Detail</h2>
                <a href="/" class="btn btn-success">Go to contact list</a>
    
                <h4 class='mt-5'>{{ contact.getFirstname() }} {{ contact.getLastname() }}</h4>
                <ul class="list-group">
                    <li class="list-group-item">Address: 
                        {{ contact.getStreetAndNumber() }}, 
                        {{ contact.getZip() }}, 
                        {{ contact.getCity() }}, 
                        {{ contact.getCountry() }}
                    </li>
                    <li class="list-group-item">Phone: {{ contact.getPhonenumber() }}</li>
                    <li class="list-group-item">Birthday: {{ contact.getBirthday() | date('F j, Y') }}</li>
                    <li class="list-group-item">Email: {{ contact.getEmail() }}</li>
                    {% if contact.getPicture() %}
                        <li class="list-group-item">Image: 
                            <img class="mt-2" data-field="image" src="{{ asset('uploads/pictures/' ~ contact.getPicture()) }}">
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}