{% extends "base.html.twig" %}

{% block title %}Address Book{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="page-header">Address Book</h2>

                <table class="table">
                    <thead> 
                        <tr> 
                            <th>Firstname</th> 
                            <th>Lastname</th> 
                            <th>Address</th> 
                            <th>Phone</th>
                            <th>Birthday</th> 
                            <th>Email</th>
                            <th></th>
                        </tr> 
                    </thead> 
                    <tbody> 
                        {% for contact in contacts %}
                        <tr> 
                            <td>{{ contact.firstname }}</td>
                            <td>{{ contact.lastname }}</td> 
                            <td>
                                {{ contact.streetAndNumber }}, 
                                {{ contact.zip }}, 
                                {{ contact.city }}, 
                                {{ contact.country }}
                            </td> 
                            <td>{{ contact.phonenumber }}</td> 
                            <td>{{ contact.birthday|date('F j, Y') }}</td>
                            <td>{{ contact.email }}</td> 
                            <td>
                                <a href="/details/{{ contact.id }}" class="btn btn-success mb-2">View</a>
                                <a href="/edit/{{ contact.id }}" class="btn btn-info mb-2">Edit</a>
                                <a href="/delete/{{ contact.id }}" class="btn btn-danger mb-2">Delete</a>
                            </td> 
                        </tr> 
                        {% endfor %}
                    </tbody> 
                </table>

                <div>
                    <a href="/create" class="btn btn-success">Create</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}